@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700,800");

body {
    width     : 310px;
    min-height: 235px;
    margin    : 5px;
    background: #fff;
    color     : #000;
}

@media (prefers-color-scheme: dark) {
    body {
        width     : 310px;
        min-height: 235px;
        margin    : 5px;
        background: #000;
        color     : #fff;
    }
}

img {
    width        : 30px;
    height       : 30px;
    border-radius: 5px;
    padding      : 5px;
}

img.icon-center {
    display: block;
    margin : auto;
}

img.icon-noonsong {
    width       : 30px;
    height      : 30px;
    display     : block;
    margin-left : auto;
    margin-right: auto;
}

img.icon-smuwhitepaper {
    width       : 30px;
    height      : 30px;
    display     : block;
    margin-left : auto;
    margin-right: auto;
}

div.noonsong-container {
    display: block;
    cursor : pointer;
}

div.icon-wrapper {
    width     : 75px;
    height    : 40px;
    margin-top: 10px;
}

span {
    font-size  : 11px;
    font-weight: 500;
    font-family: "Nanum Gothic";
}

span.text-style {
    margin-top   : auto;
    margin-bottom: auto;
    font-weight  : 700;
}

div.bottom-container {
    display: inline-flex;
    margin : 0 35px;
}

div.icon-container {
    width     : 75px;
    height    : 75px;
    display   : block;
    cursor    : pointer;
    text-align: center;
}

div.icon-container:hover {
    background-color: #e9ecef;
    border-radius   : 10px;
}

@media (prefers-color-scheme: dark) {
    div.icon-container:hover {
        background-color: #555555;
        border-radius   : 10px;
    }
}

#grid {
    display              : grid;
    height               : 80px;
    grid-template-columns: 80px;
}

#container {
    display        : flex;
    justify-content: flex-start;
    flex-wrap      : wrap;
}

div.the-end {
    width : 50%;
    height: 40px;
    cursor: pointer;
}

div.the-end:hover {
    background-color: #dbe4ff;
    border-radius   : 5px;
}

@media (prefers-color-scheme: dark) {
    div.the-end:hover {
        background-color: #8ab6e9;
        border-radius   : 5px;
    }
}